@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #5b5c60;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #d1d1d1;
}

:root{
    --cY:0vw;
    --cX:0vh;
}

.whole-container{
    display: block;
    background: rgb(29,29,32);
    height: auto;
    width: 100%;
    max-width: 900px;
    /* max-height: 100vh; */
    position: fixed;
    padding: 2.5rem;
    margin: 2rem;
    border: 2px solid #7c7d81;
    border-radius: 2rem;
    background: radial-gradient(circle 40vmax at var(--cX) var(--cY),
    rgb(26,26,29)0%,
    rgb(10,10,10) 100%
    );
    box-shadow: var(--sX) var(--sY) 50px 0px rgba(18,18,19,.1);

}

@media screen and (max-width:1000px){
    .whole-container{
        padding: 1.5rem;
        margin: 0rem;
        border: 0rem;
        border-radius: 0rem;
        position: relative;
        background: rgb(18,18,19);

    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


header ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    gap: 2rem;
    margin-right: 100px;

}


header .logo {
    height: 50px;
    width: 50px;
    margin-left: -8px;
    transition: all .1s ease-in-out;
    cursor: pointer;

  }

  header ul a {
    color: #eee;
    margin-left: 30px;
    line-height: 1.5;
    display: flex;
  }

  main-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1000px;
    gap: 0rem 4rem;

  }

  d-welcome{
    display: block;
    width: 100%;
    max-width: 470px;
    height: 122px;
    align-self: self-end;
    justify-self: self-start;
    margin-bottom: 1rem;
  }
  
  p{
  font-size: .9rem;
  margin-bottom: 1rem;
  max-width: 65ch;
  }

  .main-grid h2 {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 1000px) {
    .main-grid {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }
  }

  .main-projects {
    padding: 0rem 3rem;
  }


  .project-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (max-width: 1000px) {
    .main-projects {
      padding: 0rem 0rem;
    }
  }

  footer {
    text-align: center;
    margin-top: 3rem;
  }

  @media screen and (max-width: 1000px) {
    footer {
      text-align: left;
      padding-bottom: 10rem;
    }
  }

  .card{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    
  }